.left_about_content {
  margin-top: 60px;
}
.right_content .about_cover {
  width: auto;
  border-radius: 4px;
  margin-bottom: 60px;
}
.about_img {
  width: 100%;
}
.about_us h2 {
  color: #EB9F4D;
  font-size: 24px;
}

/*PARTNERS.html*/
.partners-background {
  background-color: #f0f0ea;
}
.partners {
  text-align: center;
}
.partners_content {
  text-align: left;
}
.partners_content h3 {
  font-size: 24px;
  color: #EB9F4D;
}
.partners_content h4 {
  font-size: 19px;
}
.web {
  display: inline-block;
  float: left;
}
.partners_img {
  overflow: hidden;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.partners_img img {
  width: 100%;
}
