.shaper-curses {
  background: rgba(255,255,255,1);/* Old Browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,234,1)));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* IE 10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0ea', GradientType=0 );/* IE6-9 */
}
.contacts {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 30px 15px;
  margin-top: 60px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
  background: #fff;
}
.contacts h4 {
  font-size: 20px;
  float: left;
  margin: 0 30px;
  line-height: 25px;
  text-align: left;
}
.contacts-item {
  width: 50px;
  float: left;
}
.contacts-item-margin {
  float: left;
  width: 50px;
  height: 50px;
  margin: 20px;
}
.courses-item-group {
  text-align: left;
  display: inline-flex;
}
.courses-item-group h3 {
  float: left;
  margin: auto;
}
.courses-item-group span {
  font-size: 16px;
}
.english-courses {
  text-align: center;
}
.individual-course {
  background: rgba(255,255,255,1);/* Old Browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(240,240,234,1)));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%); /* IE 10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(240,240,234,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0ea', GradientType=0 );/* IE6-9 */
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.individual-course h2 {
  font-size: 24px;
  color: #EB9F4D;
}
.courses-content {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.courses-item-group ol {
  padding-left: 20px;
}
.courses-item-group ol li {
  font-size: 16px;
  line-height: 30px;
}
.courses-item-group ol li span {
  font-size: 16px;
  font-weight: bold;
  color: #EB9F4D;
  margin: 20px;
}

.card {
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(2, 2, 2, 0.2);
    cursor: pointer;
    background: #EB9F4D;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.card:hover {
    box-shadow: 0 2px 11px 0 rgba(2, 2, 2, 0.3);
    background-color: #E19749;
}
.card-block {
    position: relative;
    margin: 0;
    padding: 30px;
    border: none;
    box-shadow: none;
    background-color: #fff;
    text-align: center;
}
.img-top {
  text-align: center;
  padding: 30px;
  height: 210px;
}
.card-img-top {
    height: 100%;
}
.card-text {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.block_icon {
  width: 17px;
  font-size: 13px;
  color: #EB9F4D;
}

/*Course_MODAL*/
.modal-course-header {
  padding: 30px;
}
.modal-course-header h2 {
  color: #EB9F4D;
}
.modal-content .course-body {
  padding: 30px;
  text-align: left;
  font-size: 15px;
  color: #696F74;
}
.course-body h3 {
  color: #EB9F4D;
}
.one {
  margin-bottom: 50px;
}

/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0px 40px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -40px;
  background-image: none;
  background: #EB9F4D;
  border-radius: 4px;
  height: 50px;
  width : 50px;
  position: absolute;
  top: 45%;
  margin: 0;
  padding: 10px;
  opacity: 1;
  box-shadow: 0px 2px 0px 0px rgb(194, 131, 62);
  margin-bottom: 2px;
}
.media-carousel .carousel-control.left:hover {
  background-color: #E19749;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 0px 0px rgb(175, 118, 56);
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -40px !important;
  background-image: none;
  background: #EB9F4D;
  border-radius: 4px;
  height: 50px;
  width : 50px;
  position: absolute;
  top: 45%;
  margin: 0;
  padding: 10px;
  opacity: 1;
  box-shadow: 0px 2px 0px 0px rgb(194, 131, 62);
  margin-bottom: 2px;
}
.media-carousel .carousel-control.right:hover {
  background-color: #E19749;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 0px 0px rgb(175, 118, 56);
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  border-radius: 100%;
}
.carousel-inner {
  overflow: inherit!important;
}
/* End carousel */

.specialist-card {
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(2, 2, 2, 0.2);
  cursor: pointer;
  -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.specialist-card:hover {
  box-shadow: 0 2px 11px 0 rgba(2, 2, 2, 0.3);
}
.top-img-item {
  padding: 30px 45px;
}
.info {
  margin-bottom: 20px;
  text-align: left;
}
.info h5 {
  font-size: 12px;
  text-transform: none;
  color: #696F74;
  margin: 1px 0;
}
.info h5 span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  color: #4b5157;
}
