.shaper-lessons {
  height: auto;
  background: #6786ac;
  background: -moz-linear-gradient(top, #6786ac 25%, #7aa0c9 100%);
  background: -webkit-linear-gradient(top, #6786ac 25%,#7aa0c9 100%);
  background: linear-gradient(to bottom, #6786ac 25%,#7aa0c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6786ac', endColorstr='#7aa0c9',GradientType=0 );
}
.lessons-media-icon a {
  color: #fff;
  width: 50px;
  height: 50px;
  margin: 0;
  font-size: 24px;
  background: #eb9f4d;
  background: -moz-linear-gradient(-45deg, #eb9f4d 10%, #eb9f4d 10%, #dd903e 100%);
  background: -webkit-linear-gradient(-45deg, #eb9f4d 10%,#eb9f4d 10%,#dd903e 100%);
  background: linear-gradient(135deg, #eb9f4d 10%,#eb9f4d 10%,#dd903e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb9f4d', endColorstr='#dd903e',GradientType=1 );
}
.lessons-media-icon a:hover {
  background: transparent;
  color:#fff;
}
