.speaking-club-background {
  background: #a0dac3;
    background: -moz-linear-gradient(top, #a0dac3 0%, #b3d6c7 100%);
    background: -webkit-linear-gradient(top, #a0dac3 0%,#b3d6c7 100%);
    background: linear-gradient(to bottom, #a0dac3 0%,#b3d6c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0dac3', endColorstr='#b3d6c7',GradientType=0 );
}
.speaking-club-shadow {
  text-shadow: 0 1px 2px rgba(20, 116, 124, 0.6);
}
.shaper-club {
  background: #a0dac3;
  background: -moz-linear-gradient(top, #a0dac3 0%, #b3d6c7 100%);
  background: -webkit-linear-gradient(top, #a0dac3 0%,#b3d6c7 100%);
  background: linear-gradient(to bottom, #a0dac3 0%,#b3d6c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0dac3', endColorstr='#b3d6c7',GradientType=0 );
}
.club-photo {
  width: 139px;
  height: 139px;
  /*border-radius: 100%;*/
  overflow: hidden;
  float: left;
  margin-right: 30px;
}
.club-photo img {
  width: 100%;
}
.club-name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 26px;
  float: left;
  margin: 0;
}
.club-info {
  font-size: 16px;
  font-weight: normal;
  text-transform: none;
  color: #fff;
  line-height: 24px;
  float: left;
  margin-top: 20px;
}
.center {
  margin: 0 auto;
}
