html body {
  font-family: Tahoma, Verdana, Segoe, sans-serif !important;
  font-style: normal;
	font-variant: normal;
  padding-top: 121px;
}
html p {
  color: #696F74;
  line-height: 24px;
}
body span {
  text-transform: none;
  font-weight: normal;
}
html.touch a:hover {
    all:unset!important;
}
html a {
  cursor: pointer!important;
}
section {
  padding: 60px 0px;
}
li{
    list-style-type:none;
}
ul,li{
    padding:0;
    margin:0;
}
/*Default clases*/
.background-none {
  background-color: #fff!important;
}
.text-color {
  color: #fff!important;
}
.margin-none {
  margin: 0!important;
}
.margin-bottom {
  margin-bottom: 60px;
}
.margin-small-bottom {
  margin-bottom: 30px;
}
.margin-right {
  margin-right: 15px;
}
.border-small {
  border-right: 1px solid #fff!important;
}
.small-icon {
  margin-right: 5px;
}
.text-left {
  text-align: left;
}
.caption {
  margin-bottom: 27px;
}
.big-img-fluid {
  max-width: 140px;
  height: auto;
}
.close {
  color: #4B5157!important;
  opacity: 1!important;
}
.small-button {
  font-size: 11px!important;
  padding: 18px 30px!important;
  line-height: 0;
  box-shadow: 0px 1px 0px 0px rgb(194, 131, 62);
}
.text-green-color {
  color: #EB9F4D;
}
.web-button {
  color: #fff;
    width: 50px;
    height: 50px;
    margin: ;
    font-size: 24px;
    border-radius: 50%;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
.web-button:hover {
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
  color: #fff;
}
.bold {
  font-weight: bold;
  color: #4B5157;
}
/*Default clases*/

/*Navigation-button*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #CA5655; /* Set a background color */
    box-shadow: 0px 2px 0px 0px rgb(158, 65, 63);
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px 18px; /* Some padding */
    border-radius: 4px; /* Rounded corners */
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
#myBtn:hover {
    background-color: #9E413F; /* Add a dark-grey background on hover */
    box-shadow: 0px 2px 0px 0px rgb(133, 55, 53)
}/*Navigation-button*/

.top_menu {
  font-family: arial !important;
}
.top_menu .navbar-fixed-top {
  background: #4B5157;
  margin: 0;
}
.topstyle .top-top li a {
  font-size: 12px;
  color: #fff;
  padding: 0 20px;
}
.topstyle .top-top li a:hover {
  background: transparent;
}
.topstyle .top-top li {
  padding: 15px 0;
}
.navbar-fixed-top button {
  font-size: 12px;
  padding: 0px 20px;
  border-radius: 0;
  border: none;
  background: transparent;
}
.navbar-fixed-top button:hover {
  background: transparent;
}
.topstyle .top-top li:hover {
  background: #454a4e;
}
.botoom_menu .navbar-brand {
  padding: 0;
  height: auto;
  margin-left: 0!important;
}
.navbar-brand img {
  width: 66px;
}
.navbar-brand img:hover {
  box-shadow: 0px 0px 1px 1px rgba(48, 61, 70, 0.25);
  transition: 350ms ease-in-out;
}
.top_menu .botoom_menu  {
  margin: 0;
  border: none;
  background: #fff;
  box-shadow: 0px 1px 1px rgba(48, 61, 70, 0.35);
}
.active  {
  color: #ff8318!important;
  background: transparent!important;
  font-weight: bold;
}
.active:hover {
  background: #fff!important;
}
.active:focus {
  background: #fff!important;
}
.botoom_menu .collapse .btnbot li a {
  padding: 25px 30px;
  color: #000;
  font-size: 14px;
}
.botoom_menu .collapse .btnbot li a:focus {
  color: #ff8318;
}
.botoom_menu .collapse .btnbot li a:hover {
  color: #ff8318;
}

section {
  height:calc(90% - 50px);
}

.affix {
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;

}

.affix-top {
-moz-transform: translate(0px, 52px);
-webkit-transform: translate(0px, 52px);
-o-transform: translate(0px, 52px);
-ms-transform: translate(0px, 52px);
transform: translate(0px, 52px);

}

/*_-MODALS-_*/
.modal .modal-width {
  width: 473px;
}
.modal .modal-dialog .modal-content {
  border-radius: 0;
}
.modal-content .modal-header {
  padding: 60px;
  border: none;
}
.modal-title {
  font-size: 24px;
  color: #303d46;
  text-align: center;
}
.modal-content .signin-body {
  padding: 0 100px;
  border: none;
  text-align: center;
}
.input {
  width: 100%;
  height: 50px;
  border: 1px solid #EB9F4D;
  margin: 0 auto 25px;
  padding: 0 25px;
  border-radius: 4px
}
.input_message {
  width: 100%;
  padding: 15px 25px;
  border-color: #E19749;
  margin: 0;
  border-radius: 4px;
  height: 100px;
}
.input:focus {
  outline: none;
  border-color: #ff8318!important;
}
.input:hover {
  border-color: #EB9F4D;
}
.inputButton {
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  font-family: arial;
  font-weight: bold;
  background-color: #EB9F4D;
  box-shadow: 0px 2px 0px 0px rgb(194, 131, 62);
}
.inputButton:hover {
  background-color: #E19749;
  color: #fff;
  box-shadow: 0px 2px 0px 0px rgb(175, 118, 56);
}
.inputButton:active {
  top: 5px;
  box-shadow: none;
}
.inputButton:focus {
  outline: none;
}
.modal-content .modal-footer {
  border: none;
  padding: 60px;
  text-align: center;
}
.modal-footer h4 {
  font-size: 12px;
  color: #6c7073;
  margin-top: 0;
}
.modal-footer a {
  color: #fff;
  width: 50px;
  height: 50px;
  margin:;
  font-size: 24px;
  border-radius: 4px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
.modal-footer a:hover {
  background-color: #E19749;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 0px 0px rgb(175, 118, 56);
}
.fcb {
  background: #4862a3;
  margin-right: 15px;
  box-shadow: 0 2px #384c7e;
}
.twt {
  background: #00aef1;
  margin-right: 15px;
  box-shadow: 0 2px #0090c8;
}
.ggl {
  background: #fd4d3e;
  margin-right: 15px;
  box-shadow: 0 2px #ce4033;
}
.lnk {
  background: #007bbd;
  box-shadow: 0 2px #006398;
}
/*_-MODALS-_*/

.shaper {
  height: auto;
  background: #87c8e5; /* Old browsers */
  background: -moz-linear-gradient(top, #87c8e5 1%, #a8d0e0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #87c8e5 1%,#a8d0e0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #87c8e5 1%,#a8d0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c8e5', endColorstr='#a8d0e0',GradientType=0 ); /* IE6-9 */
}
.left_content {
  float: left;
  margin-top: 10%;
}
.h1-text-shadow {
  text-shadow: 0 1px 2px rgba(75, 81, 87, 0.6);
}
.text-shadow {
  text-shadow: 0 1px 2px rgba(75, 81, 87, 0.6)
}
.left_content h1 {
  margin: 0;
}
.left_content h4 {
  margin: 10px 0 55px;
}
.babelon-button {
  font-family: arial;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: #EB9F4D;
  box-shadow: 0px 2px 0px 0px rgb(194, 131, 62);
  margin-bottom: 2px;
  cursor: pointer;
}
.big-button {
  padding: 15px 50px;
}
.babelon-button:hover {
  background-color: #E19749;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 2px 0px 0px rgb(175, 118, 56)
}
.babelon-button:focus {
  text-decoration: none;
  color: inherit;
}
.right_content {
  float: right;
  margin-top: 60px;
  text-align: center;
}
.right_content img {
  height: 364px;
}

/*FREE CURSE BLOCK*/
.free-curse-input {
    width: 100%;
    height: 50px;
    padding: 0 25px;
    border-color: #E19749;
    margin: 0;
}
.free-curse {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 30px 15px;
  margin-top: 60px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
.free-curse h3 {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  margin: 0;
  text-shadow: 0 1px 1px rgba(96, 139, 158, 0.8);
}
.free-curse .inputButton {
  width: 100%;
  border-radius: 4px;
  background-color:
}
/*FREE CURSE BLOCK*/

/*անգլերեն դասեր skype ով*/
.future-item {
  text-align: center;
  padding: 0 35px;
}
.future-item p {
  font-size: 16px;
  color: #fff;
}
.future-item-none {
  text-align: center;
  padding: 0px 50px;
}
.future-item h3 {
  font-size: 20px;
  margin: 20px 0 10px;
  color: #fff;
}
.future-item-none p {
  font-size: 16px;
}
.padding {
  padding: 60px 0px;
}
.img-fluid {
  max-width: 120px;
  height: auto;
}
.small-img-fluid {
  max-width: 100px;
  height: auto;
}
/*անգլերեն դասեր skype ով*/

/*սովորեք անգլերեն մեզ հետ*/
.two {
  background: #EB9F4D;
  color: #fff;
}
.two h2 {
  color: #fff;
}
.left h5 {
  text-align: right;
  margin: 0 0 30px;
}
.cofee-table {
  width: 100%;
  height: auto;
}
.right h5 {
  margin: 0 0 30px;
}
.top-padding {
  padding: 60px 0 0;
}
/*սովորեք անգլերեն մեզ հետ*/

/* Carousel */
.three h4 {
  color: #626669;
}
small {
  font-size: 16px;
  font-weight: bold;
  color: #303d46;
}
#quote-carousel {
    padding: 0px 10px;
    margin-top: 30px;
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    margin-right: -19px;
    position: absolute;
    bottom: -15px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #ff8318;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    font-size: 15px;
    float: left;
    margin-right: 10px;
}
.item p {
  font-size: 14px;
  line-height: 24px;
}
/* Carousel */

/*ինչպես սկսել*/
.four {
  background: #87c8e5;
  background: -moz-linear-gradient(top, #87c8e5 1%, #a8d0e0 100%);
  background: -webkit-linear-gradient(top, #87c8e5 1%,#a8d0e0 100%);
  background: linear-gradient(to bottom, #87c8e5 1%,#a8d0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c8e5', endColorstr='#a8d0e0',GradientType=0 );
}
.four h2 {
  color: #fff;
}/*ինչպես սկսել*/

/*Footer*/
footer { background-color:#303d46; min-height:350px;}
.logofooter { margin-bottom:10px;  margin-top:10px; font-size:21px; color:#fff; font-weight:700;}
.logo {width: 66px; margin-bottom: 15px;}

.footer-col p { color:#fff; font-size:12px; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#fff; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff8318; }

 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }
